<div class="mt-4">
    <h3>Them bai hat</h3>
    <form method="POST" action="/courses/store">
        <div class="mb-3">
            <label for="name" class="form-label">Ten bai hat</label>
            <input type="text" class="form-control" id="name" name="name">
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Mo ta</label>
            <input type="text" class="form-control" id="description" name="description">
        </div>
        <div class="mb-3">
            <label for="videoID" class="form-label">Video ID</label>
            <input type="text" class="form-control" id="videoID" name="videoID">
        </div>
        
        <button type="submit" class="btn btn-primary">Them bai hat</button>
    </form>
</div>