<div class="mt-4">
  <form method="POST">

    <div class="mb-3">
      <label for="search-input" class="form-label">Tu khoa</label>
      <input type="text" name="q" class="form-control" id="search-input" placeholder="Nhap tu khoa...">
    </div>

    <div class="mb-3">
      <label for="gender-input" class="form-label">Gioi tinh</label>
      <select name="gender" class="form-control" id="gender-input">
        <option value="">-- Chon gioi tinh --</option>
        <option value="male">Nam</option>
        <option value="female">Nu</option>
      </select>
    </div>
    
    <button type="submit" class="btn btn-primary">Tim kiem</button>
  </form>
</div>
